

.container1{
    height:100vh;
    background-color: #000;
    background-image:url("../../../../assets/images/loginBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: centerd;
    width:100%;
    position : fixed;
    top:0;
    left:0;
    z-index: 10;
    >.pnp{
        width: 500px;
        z-index: 20;
        text-align: center;
        margin: 30px 0;
        color: white;
    }
    &::before{
        content: '';
        background-color: rgba($color: #000, $alpha : .5);
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
